@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'karla', sans-serif;
}
body{
  color:whitesmoke;
}
.container{
  width: 100%;
  height: 100vh;
  background-image: url(../images/workshops.gif);
  background-position: center;
  background-size: cover;
  padding-top: 35px;
  padding-left: 8%;
  padding-right: 8%;
}
nav{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a{
  font-size: 40px;
  text-decoration: none;
}
span{
  color: maroon;
}
nav ul li{
  display: inline-block;
  list-style: radial;
  margin: 10px 15px;
}
nav ul li a{
  text-decoration: none;
  transition: 0.5s;
}
nav ul li a:hover{
  color: goldenrod;
}
.login{
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
}
.btn{
  background:linear-gradient( 135deg, maroon 10%, gold 100%);
  border-radius: 6px;
  padding: 9px 25px;
  text-decoration: none;
  transition: 0.5s;
  font-size: 18px;
}

.content{
  margin-top: 10%;
  max-width: 1600px;
}
.content h2{
  font-size: 60px
}
.content p{
  margin-top: 10px;
  line-height: 25px;
}
a{
  color: whitesmoke;
}
.link {
  margin-top: 30px;
}
.hire{
  color: whitesmoke;
  text-decoration: none;
  background: linear-gradient( 135deg, maroon 10%, gold 100%);
  padding: 9px 25px;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.5s;
}
.link .hire:hover{
  background: linear-gradient( 135deg, rgba(128, 0, 0, 0.5) 10%, rgba(255, 217, 0, 0.5) 100%);
  border: 1px solid black;
  color: whitesmoke;
  transform: scale(1.2);
}
